WEATHER_API_KEY=your_weather_api_key # create a free API key at https://www.tomorrow.io/weather-api/
GEO_API_KEY=your_geo_api_key # create a free API key at https://geocode.maps.co/
OPENAI_API_KEY=your_openai_api_key # create a free API key at https://platform.openai.com/api-keys